@font-face {
  font-family: lexendecabold;
  src: url(font_large/BigShouldersDisplay-Bold.ttf);
}
@font-face {
  font-family: lexendDeca_Font;
  src: url(font/LexendDeca-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cont {
  margin: 0 auto;
  width: 60%;
  margin-top: 10%;
  background-color: blue;
  display: flex;
  border-radius: 12px;
}
.card1 {
  /* border-radius: 12px; */
  padding: 30px;
  line-height: 20px;
  width: 100%;
}
#sedan {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#suvs {
  background-color: hsl(184, 100%, 22%);
}
#luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.img {
  padding: 15px;
  padding-left: 0px;
}
p {
  font-family: lexendDeca_Font;
  font-size: small;
}
.Learn {
  padding: 10px;
  border-radius: 20px;
  width: 75%;
  margin-top: 50px;
  border: none;
}
#one {
  color: hsl(31, 77%, 52%);
}
#one:hover {
  background-color: hsl(31, 77%, 52%);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
#two {
  color: hsl(184, 100%, 22%);
}
#two:hover {
  background-color: hsl(184, 100%, 22%);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
#three {
  color: hsl(179, 100%, 13%);
}
#three:hover {
  background-color: hsl(179, 100%, 13%);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
.head {
  font-family: lexendecabold;
  padding: 10px;
  padding-left: 0px;
  padding-bottom: 30%;
  color: whitesmoke;
}
#onea {
  color: hsl(31, 91%, 78%);
}
#oneb {
  color: hsl(184, 44%, 54%);
}
#onec {
  color: hsl(179, 49%, 38%);
}
@media screen and (min-width: 320px) and (max-width: 520px) {
  body {
    padding: 20px;
  }
  .cont {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #sedan {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px;
    padding-left: 30px;
  }
  .head {
    padding-bottom: 30px;
  }
  .img {
    padding-bottom: 20px;
  }
  #luxury {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
@media screen and (min-width: 100px) and (max-width: 319px) {
  .cont {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  #sedan {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  #luxury {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
